<!DOCTYPE html>
<html lang="en">
<head>
    <!--codificación de caracteres universales del doc -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <!--viewport área visible en cualquier dispositivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MercadoLiebre</title>

    <!--fuente elegida-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <!--libreria de íconos-->
    <script src="https://kit.fontawesome.com/67f277868a.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

<!--vinculación con CSS mi hoja de estilo-->
    <link rel="stylesheet" href="/css/styles.css" />
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
       rel="stylesheet" />

</head>
<body>
    <header class="menu-superior">
       <div class="menu-superior-top-bar"><img src = "/img/logo-mercado-liebre.svg" class="logo-mercado-liebre">
            
            <!--buscador  icono--><!--buscador  barra-->
            <p class="icon"><input type="search" placeholder="Buscar..."><i class="fas fa-search"></i></p>
              
            <P class="tarjeta"><i class="fas fa-hand-holding-usd">
            </i>Comprá en cuotas y sin tarjeta de crédito</P>
        </div>
        <!--menu hamburguesa-->
        <div class="burger-menu"><i class="fas fa-bars"></i>
        </div>

        <nav class="body-nav">
            <ul class="left-navbar">
                <li><a href = "#"> Ofertas </a></li>
                <li><a href = "#"> Tiendas oficiales</a></li>
                <li><a href = "#"> Vender</a></li>
                <li><a href = "#"> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href = "/register"> Crea tu cuenta</a><span><i class="far fa-id-card"></span></i></li>
                <li><a href = "/login"> Ingresá</a><span><i class="fa-solid fa-right-to-bracket"></i></span></li>
                <li><a href = "#"> Mis compras</a><span><i class="fas fa-shopping-basket"></span></i></li></li>
            </ul>
        </nav>
        
    </header>
            <div><img class= "banner" src = "/img/img-home-banner.jpg">
            </div>

    <main class="main">
                   
            <div>
                <h2 class="titulares">Basado en tu última visita</h2>
            </div>
        
        <section class="section">
       
            <article class="article">
                <div class="sombra"><img src = "/img/img-cafetera-moulinex.jpg" class="img"></div>
            
            <section>
                <div class="config-icono-precio-desc-descrip">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="precio-descuento">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
                <div>
                <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </section>
            </article>

            <article class="article">
                <div class="sombra"><img src ="/img/img-macbook-pro-2019.jpg" class="img"></div>
            <section>
                <div class="config-icono-precio-desc-descrip">
                <i class="fas fa-truck"></i>
                <div class="precio-descuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </section>    
            </article> 

            <article class="article">
                <div class="sombra"><img src = "/img/img-samsung-galaxy-s10.jpg" class="img"></div>
            <section>    
                <div class="config-icono-precio-desc-descrip">
                <i class="fas fa-truck"></i>
                <div class="precio-descuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </section>
            </article>

            <article class="article">
                <div class="sombra"><img src = "/img/img-tv-samsung-smart.jpg" class="img"></div>
            <section>    
                <div class="config-icono-precio-desc-descrip">
                <i class="fas fa-truck"></i>
                <div class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </section>            
            </article>
        </section>
        
                
            <div><h2 class="titulares">Ofertas</h2></div>
        
        <section class="section" aligne="center">           
            <article class="article">
                <div class="sombra"><img src ="/img/img-cafetera-moulinex.jpg" class="img"></div>
            <section>                
                <div class="config-icono-precio-desc-descrip">
                <i class="fas fa-truck"></i>
                <div class="precio-descuento">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </section> 
            </article>
           
            <article class="article">
                <div class="sombra"><img src ="/img/img-macbook-pro-2019.jpg" class="img"></div>
            <section>            
                <div class="config-icono-precio-desc-descrip">
                <i class="fas fa-truck"></i>
                <div class="precio-descuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </section> 
            </article>            
            
            <article class="article">
                <div class="sombra"><img src ="/img/img-samsung-galaxy-s10.jpg" class="img"></div>
            <section>
                <div class="config-icono-precio-desc-descrip">
                <i class="fas fa-truck"></i>
                <div class="precio-descuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </section> 
            </article>            
            
            <article class="article">
                <div class="sombra"><img src ="/img/img-tv-samsung-smart.jpg" class="img"></div>
            <section>    
                <div class="config-icono-precio-desc-descrip">
                <i class="fas fa-truck"></i>
                <div class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </section>     
            </article>
        </section>
    </main>
    
    <footer>
        <section class="footer-contenedor">
            <div class="footer"><i class="fas fa-credit-card"></i> 
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p></div>

            <div class="footer"><i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p></div>

            <div class="footer"><i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p></div>

            
        </section>
    </footer>
    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
</body>
</html>
